#vasilis,
#espen{
    position: fixed;
    width: clamp(5rem, 20vw, 15rem);
    bottom: 26vh;
    transition: var(--transition-base);
    box-shadow:  -10px 0 0 0 var(--gray),
                 10px 0 0 0 var(--gray),
                 0 -10px 0 0 var(--gray),
                 0 10px 0 0 var(--gray);

    &.show{
        transform: translateX(0);
    }

    #laugh-eye,
    #laugh-eye-2,
    #laugh-mouth{
        opacity: 0;
    }

    #money-eye-r,
    #money-eye-l{
        opacity: 0;
        transform: translateY(-145px) translateX(-110px);
    }

    #neutral-mouth{
        display: none;
        transform: translateY(-145px) translateX(-110px);
    }

    &.money{
        #money-eye-r,
        #money-eye-l{
            animation: opacity-ani-show 4s forwards;
        }

        #eye-r,
        #eye-l{
            animation: opacity-ani-hide 4s forwards;
        }
    }


    &.laugh{
        animation: laugh-ani .2s 10 alternate ease-in-out;

        #laugh-eye,
        #laugh-eye-2,
        #laugh-mouth{
            animation: opacity-ani-show 1.6s forwards;
        }

        #eye-r,
        #eye-l,
        #mouth{
            animation: opacity-ani-hide 1.6s forwards;
        }
    }

    &.neutral{
        #neutral-mouth{
            display: block;
        }

        #mouth{
            display: none;
        }
    }
}

.vasilis-img,
.espen-img{
    position: fixed;
    width: 15rem;
    bottom: 24vh;
    object-fit: cover;
    opacity: 0;
    z-index: -1;
    box-shadow:  -10px 0 0 0 var(--gray),
    10px 0 0 0 var(--gray),
    0 -10px 0 0 var(--gray),
    0 10px 0 0 var(--gray);
    transition: var(--transition-base);
}

.vasilis-img{
    right: 17vw;
}

.espen-img{
    left: 17vw;
}

body:has(.vasilis-link:hover) #vasilis,
body:has(.vasilis-link:hover) .vasilis-img{
    animation: spin-that-emoji-baby 2s infinite linear;
    opacity: 1;
}

#vasilis{
    right: -2vw;
    filter: drop-shadow(1px 3px 0 dodgerblue);
    transform: translateX(20vw);
}

body:has(.espen-link:hover) #espen,
body:has(.espen-link:hover) .espen-img{
    animation: spin-that-emoji-baby 2s infinite linear reverse;
    opacity: 1;
}

@keyframes spin-that-emoji-baby{
    to{
        rotate: 1turn;
    }
}

#espen{
    left: -3vw;
    filter: drop-shadow(-1px 3px 0 darkorange);
    transform: translateX(-20vw);

    &.laugh{
        animation-direction: alternate-reverse;
    }
}

@keyframes laugh-ani {
    from{
        transform: rotate(0deg) translateX(0rem);

    }

    to{
        transform: rotate(6deg) translateX(.2rem);
    }
}

@keyframes opacity-ani-show {
    0%{
        opacity: 0;
    }

    1%{
        opacity: 1;
    }

    50%{
        opacity: 1;
    }

    99%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

@keyframes opacity-ani-hide {
    0%{
        opacity: 1;
    }

    1%{
        opacity: 0;
    }

    50%{
        opacity: 0;
    }

    99%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}